@import '~bootstrap/dist/css/bootstrap.min.css';

.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  transition: 0.5s;

  &:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.0);
  }

  .image {
    position: relative;

    img {
      width: 100%;
      height: 250px;
    }
  }
}

.container {
  margin-top: 2vh;
}

.row {
  row-gap: 3vh;
  .tile {
    display: block;
    .tile-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      h2 {
        font-size: 21px;
        font-family: 'barlow', 'Arial', 'Sans-serif';
      }
    }
  }
}

.pagination .page-item.active .page-link {
  background-color: #1B1D27;
  border-color: #303325;
  color: whitesmoke;
}

.page-link {
  color: #303325;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &:hover {
    opacity: 1;
    background-color: rgba(0 ,0 , 0 , 0.4);
    backdrop-filter: blur(5px);
  }

  .overlay-content {
    color: whitesmoke;
    text-align: center;
  
    h3 {
      font-size: 18px;
      padding: 2vw;
      font-family: 'barlow';
    }

    h4 {
      button {
        a {
          text-decoration: none;
          font-family: 'barlow';
          color: #111111;
          font-weight: bold;
        }
      }
    }
  }
}

