.navbar {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    background-color: #1B1D27;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: 1.75rem;
        font-family: 'barlow';
        font-weight: 500;
        text-transform: uppercase;
        color: whitesmoke;
    }
}